
.container{
    background-color: beige;
}

.cardFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.totalCards{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.cardUnidad{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 330px;
    align-items:center;
    border: black 0.1px solid;
    padding: 10px;

}
.imgProduct{
    width: 85%;
    height: 37%;
    transition: transform 0.5s;
}

.imagProduct{
    width: 85%;
    height: 57%;
    transition: transform 0.5s;
}
.cardUnidad:hover{
    transform: scale(1.1);
}
.titleProduct{
    font-size: 2rem;
    text-align: center;
}
.descriptionProduct{
    text-align: center;
    font-size: 1rem;
}
.priceProduct{
    color: red;
    font-weight: 700;
    font-size: 22px;
}
.AlignContador{
    display: flex;
    flex-direction: column;
}
.stockProduct{
    font-size: 1rem;
}

.detalle{
    text-decoration: none;
    list-style-type: none;
    color: #000;
    font-size: 1.3rem;
    margin-top: 20px;
}

.detalle:hover{
    color: red;
}