.container{
    background-color: beige;
}
.totalCards{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.cardUnidad{
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 280px;
    align-items:center;
    border: black 0.1px solid;
}
.imgProduct{
    width: 85%;
    height: 60%;
    transition: transform 0.5s;
}
.imgProduct:hover{
    transform: scale(1.1);
}
.titleProduct{
    font-weight: 900;
    text-align: center;
}
.descriptionProduct{
    text-align: center;
}
.priceProduct{
    color: red;
    font-weight: 700;
    font-size: 22px;
}
.AlignContador{
    display: flex;
    flex-direction: column;
}
.stockProduct{
    font-weight: 900;
}