*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.padreLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.ancorNav{
    list-style-type: none;
    color: #D0D3D4;
    transition: transform .3s;
}
.ancorNav:hover{
    color: white;
    transform: scale(1.1);
}
.NombreLogo{
    color: white;
    text-decoration: none;
    transition: transform .5s;
}
.NombreLogo:hover{
    transform: scale(1.3);
}
.imgCarrito{
    height: 100%;
}
